h1 {
    border: 3px solid #fcb345;
    border-radius: 15px;
    background: linear-gradient(#253dda, #0218ab);
    color: #ffffff;
    padding: 5px 10px;
    box-shadow: 5px 5px 15px #808080;
}

div span {
    font-weight: bold;
}

.contenido {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.izq {
    width: 45%;
}

.der {
    width: 45%;
}

@media screen and (max-width: 1000px) {
    .contenido {
        flex-direction: column;
    }

    .izq {
        width: 100%;
    }

    .der {
        width: 100%;
    }
}
