#fondo_index {
    width: 100%;
    margin-top: -20px;
    border: 3px solid #fcb345;
    border-radius: 15px;
    box-shadow: 5px 5px 15px #808080;
}

section h2 {
    border: 3px solid #fcb345;
    border-radius: 15px;
    background: linear-gradient(#253dda, #0218ab);
    color: #ffffff;
    padding: 5px 10px;
    box-shadow: 5px 5px 15px #808080;
}

section article {
    margin-left: 2%;
}

section p {
    font-size: 15px;
}

.raw {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.flip-container {
    perspective: 1000;
    width: 240px;
    height: 240px;
    margin: 10px 0;
}

.flip-container:hover .flipper {
    transform: rotateY(180deg);
    box-shadow: 0px 0px 20px 5px #001ac8;
    border: 2px solid #001ac8;
}

.flipper {
    border: 2px solid #0218ab;
    border-radius: 20px;
    width: 240px;
    height: 240px;
    box-shadow: 5px 5px 15px #808080;
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front {
    text-align: center;
    z-index: 2;
}

.arriba {
    height: 120px;
    width: 236px;
    border-radius: 19px 19px 0 0;
    padding-top: 20px;
    background: #fcb74d;
}

.arriba img {
    width: 50px;
    height: 50px;
    border: 2px solid #0218ab;
    border-radius: 25px;
    background: #ffffff;
}

.abajo {
    height: 116px;
    width: 236px;
    border-radius: 0 0 19px 19px;
    border-top: 2px solid #253dda;
    background: linear-gradient(#253dda, #8394ff);
    padding-top: 10px;
}

.front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

.back {
    transform: rotateY(180deg);
    background: linear-gradient(#253dda, #0218ab);
    width: 100%;
    height: 236px;
    border-radius: 18px;
}

.back p {
    font-weight: bold;
    margin: 10px 5px;
}

.back .machica {
    font-size: 11.2px;
}

.flipper p {
    color: white;
}

.arriba p {
    text-shadow: 2px 2px 5px #676767;
}

.negrita {
    font-weight: bold;
}

#conocimientos {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#conocimientos>div {
    display: flex;
    margin: 10px;
    height: 55px;
    background: linear-gradient(#f9cb85, #fcb74d);
    border: 2px solid #0218ab;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #808080;
}

#conocimientos h4 {
    margin-top: 20px;
}

#conocimientos div img:first-of-type {
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 10px;
}

#conocimientos div #imgb {
    width: 25px;
    height: 35px;
}

#conocimientos .nivel {
    margin: 20px 10px;
}

#conocimientos .nivel div {
    width: 15px;
    height: 5px;
    margin: 1px;
    border-radius: 2px;
    background: #aaaaaa;
}

#conocimientos .alto .top,
#conocimientos .alto .middle,
#conocimientos .alto .bottom {
    background: #5cb73c;
}

#conocimientos .medio .middle,
#conocimientos .medio .bottom {
    background: #5cb73c;
}

#conocimientos .bajo .bottom {
    background: #5cb73c;
}
